<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title>我的课表</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="index/css/pintuer.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="index/css/admin.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="index/css/course.css") }}">
    <script src="{{ url_for('static', filename="index/js/jquery.js") }}"></script>
    <script src="{{ url_for('static', filename="index/js/pintuer.js") }}"></script>


{#    取选择的学期 #}
    <script type="text/javascript">
        $(document).ready(function(){
          $("button").click(function() {
              const chooseTerm = $(this).html();
              {#alert($chooseTerm)#}

              $.ajax({
                  url: "{{ url_for('course', username=username) }}",
                  type: 'POST',
                  data: chooseTerm,
                  success: function (msg) {
                      {#alert(msg.name)#}
                  }
              })
          }) });
    </script>

</head>

<body>

<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-key"></span> 我的课表</strong></div>

    <div class="body-content">

        <header class="lightGrayPanel panelShadow noprint">
        <div class="container">
            <div class="row" style="padding-top: 10px; padding-bottom: 10px; text-align: center">
                <form method="post">
                    {% for i in range(0, 4) %}
                        <a href="{{ url_for('course', username=username) }}" target="_self">
                            <button type="button" class="btn btn-default btn-sm" type="submit">{{ term+i }}年秋季学期</button>
                        </a></button>
                        <a href="{{ url_for('course', username=username) }}" target="_self">
                            <button type="button" class="btn btn-default btn-sm" type="submit">{{ term+i+1 }}年春季学期</button>
                        </a></button>
                    {% endfor %}
                </form>
            </div>
        </div>
        </header>

       <div class="table-responsive">
                <!-- ngIf: uiFlag.view==1 -->
                <!-- ngIf: uiFlag.view==2 --><table class="table table-bordered listTable ng-scope" fixed-table-head="" ng-if="uiFlag.view==2">
                    <thead style="visibility: visible;">
                        <tr>
                            <th class="col-sm-2">课程名称</th>
                            <th class="col-sm-1">教师</th>
                            <th class="col-sm-2">星期</th>
                            <th class="col-sm-1">上课时间</th>
                            <th class="col-sm-1">地点</th>
                            <th class="col-sm-1">上课周数</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for course in courses %}
                        <tr ng-repeat="x in teachClassList.list" class="ng-scope" align="center">
                            <td align="center">{{ course['name'] }}</td>
                            <td class="ng-binding" align="center">{{ course['teacher'] }}</td>
                            <td class="ng-binding" align="center" >{{ course['weekDay'] }}</td>
                            <td class="ng-binding" align="center">{{ course['startTime'] + "-" + course['endTime'] + "节" }}</td>
                            <td class="ng-binding" align="center">{{ course['classRoom'] }}</td>
                            <td class="ng-binding" align="center">{{ course['weeks'] }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table><!-- end ngIf: uiFlag.view==2 -->
            </div>

        <tbody>


    </div>


</div>
</body>
</html>